@use 'tokens' as *;

@mixin tablet-down {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile-down {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $breakpoint-tablet + 1) {
    @content;
  }
}

@mixin desktop-overflow {
  @media (min-width: $breakpoint-desktop + 1) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
